# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# All of cmake
../idea/
../cmake-build-debug/
../cmake_modules/
../CMakeLists.txt

# All of the .idea folder
.idea/

# All of the cmake-build-debug folder
cmake-build-debug/

# All of the cmake_modules folder
cmake_modules/

# the CMakeLists.txt file
CMakeLists.txt